{% extends 'base.html' %}

{% block title %} about{% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}

{% block body %}
Thoth is a science, technology articles and blog related website. We provide you to the
information about about the new and emerging technolgy and the advancement
in the field of the science and technology.</br>
this website is created by Vivek and Abhishek in 2021. We are also the contributer 
to the contents that is present on the website.</br>

<h2>About the creaters </h2>
 Name -  Vivek Kumar  </br>
 linkedin-   </br>
<br> </br>

 Name-  Abhishek Rana    </br>
 linkedin-     </br>

 {% endblock %}